{
  "openapi": "3.1.0",
  "info": {
    "title": "KnownFix",
    "version": "0.3.17",
    "description": "38 cataloged fixes: 34 verified in production, 4 documented; 12 free in full. Paid delivery accepts signed Base USDC/Base Pay or exact-ETH offers plus the matching verified Base-mainnet proof.",
    "contact": {
      "url": "https://b-hash88.github.io/knownfix/"
    }
  },
  "servers": [
    {
      "url": "https://knownfix-backend-28.b-hash88.deno.net",
      "description": "KnownFix backend (Deno Deploy)"
    }
  ],
  "paths": {
    "/match": {
      "get": {
        "summary": "Match an error to candidate fixes (free)",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your error text, verbatim"
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked candidate fixes; empty list is an honest miss"
          }
        }
      }
    },
    "/catalog": {
      "get": {
        "summary": "All error signatures (free)",
        "responses": {
          "200": {
            "description": "Free tier catalog"
          }
        }
      }
    },
    "/offer": {
      "post": {
        "summary": "Issue a one-hour signed USDC or ETH offer for one paid product",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productType",
                  "productId"
                ],
                "properties": {
                  "productType": {
                    "type": "string",
                    "enum": [
                      "fix",
                      "skill",
                      "audit"
                    ]
                  },
                  "productId": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]{1,120}$"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USDC",
                      "ETH"
                    ],
                    "default": "ETH"
                  }
                }
              },
              "example": {
                "productType": "fix",
                "productId": "npm-install-silent-failure",
                "currency": "USDC"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Signed offer; keep token private",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentOffer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid product request"
          },
          "503": {
            "description": "Paid checkout safely paused"
          }
        }
      }
    },
    "/fix/{id}": {
      "get": {
        "summary": "Get a fix body (paid; samples free)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-payment-tx",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hash of the mined exact-amount payment on Base mainnet."
          },
          {
            "name": "x-payment-offer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Private signed bearer token returned by POST /offer."
          }
        ],
        "responses": {
          "200": {
            "description": "The fix body"
          },
          "402": {
            "description": "Body withheld; an unpaid request includes signed USDC and ETH checkout, while an existing proof gets a no-double-pay recovery action"
          }
        }
      }
    },
    "/skills": {
      "get": {
        "summary": "Free skill outlines, provenance, and base prices",
        "responses": {
          "200": {
            "description": "Skill catalog"
          }
        }
      }
    },
    "/skill/{id}": {
      "get": {
        "summary": "Get signed checkout or redeem a full SKILL.md",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-payment-tx",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-payment-offer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full skill"
          },
          "402": {
            "description": "Body withheld; an unpaid request includes the free outline and signed USDC and ETH checkout"
          }
        }
      }
    },
    "/books": {
      "get": {
        "summary": "Server-rendered open ledger or JSON snapshot",
        "responses": {
          "200": {
            "description": "Treasury, all-time funnel, rolling 30-day targets, deliveries, intent, demand, and raw counters"
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "summary": "Static no-auth MCP server card",
        "responses": {
          "200": {
            "description": "Server metadata and complete tool schemas"
          }
        }
      }
    },
    "/requests": {
      "get": {
        "summary": "Privacy-filtered public wanted board",
        "responses": {
          "200": {
            "description": "Wanted topics and fulfilment status"
          }
        }
      }
    },
    "/audit": {
      "get": {
        "summary": "Audit an agent-facing endpoint",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Machine-readable readiness report"
          },
          "400": {
            "description": "Missing or unsafe target"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Liveness, inventory, KV, chain, and checkout state",
        "responses": {
          "200": {
            "description": "Health state"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Remote MCP server (Streamable HTTP, JSON-RPC 2.0)",
        "responses": {
          "200": {
            "description": "JSON-RPC result"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentOffer": {
        "type": "object",
        "required": [
          "spec",
          "productType",
          "productId",
          "currency",
          "token",
          "payTo",
          "chainId",
          "expiresAt"
        ],
        "properties": {
          "spec": {
            "const": "knownfix-payment-offer/2.0"
          },
          "productType": {
            "type": "string",
            "enum": [
              "fix",
              "skill",
              "audit"
            ]
          },
          "productId": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USDC",
              "ETH"
            ]
          },
          "priceUsd": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "description": "Private bearer credential; never publish or log"
          },
          "basePriceWei": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "priceWei": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "description": "Exact amount to send"
          },
          "priceEth": {
            "type": "string"
          },
          "amountUsdcAtomic": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amountUsdc": {
            "type": "string"
          },
          "basePay": {
            "type": "object",
            "additionalProperties": true
          },
          "payTo": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$"
          },
          "chainId": {
            "const": 8453
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}